<div ui-view>
<section class="home">
        <form ng-model="DevScores">
          <div class="row container">
            <div class="col s12">  <!-- Start Question 1-->
              <div class="card-panel white">
                <h5 class="question">1. How often does the team implement new updates for program per week?</h5>
                <div class="answers">
                  <div class="option">
                    <input data-ng-model="DevScores.ans1" data-ng-value="5"  name="ques1" type="radio" id="A1" />
                    <label for="A1">2 Days</label>
                  </div>

                  <div class="option">
                    <input data-ng-model="DevScores.ans1" data-ng-value="4"  name="ques1" type="radio" id="B1" />
                    <label for="B1">4 Days</label>
                  </div>

                  <div class="option">
                    <input data-ng-model="DevScores.ans1" data-ng-value="3"  name="ques1" type="radio" id="C1" />
                    <label for="C1">7 Days</label>
                  </div>

                  <div class="option">
                    <input data-ng-model="DevScores.ans1" data-ng-value="2"  name="ques1" type="radio" id="D1" />
                    <label for="D1">2 Week</label>
                  </div>

                  <div class="option">
                    <input data-ng-model="DevScores.ans1" data-ng-value="1"  name="ques1" type="radio" id="E1" />
                    <label for="E1">4 Weeks</label>
                  </div>
                  
                </div>
              </div>
            </div>  <!-- End Question 1-->

            <div class="col s12">  <!-- Start Question 2-->
              <div class="card-panel white">
                <h5 class="question">2. How long did it take to advance from the research, planning and development stage to the implementation and deployment stage?</h5>
                <div class="answers">
                  <div class="option">
                    <input data-ng-model="DevScores.ans2" data-ng-value="5" name="ques2" type="radio" id="A2" />
                    <label for="A2">1 Day</label>
                  </div>

                  <div class="option">
                    <input data-ng-model="DevScores.ans2" data-ng-value="4" name="ques2" type="radio" id="B2" />
                    <label for="B2">3 Days</label>
                  </div>

                  <div class="option">
                    <input data-ng-model="DevScores.ans2" data-ng-value="3" name="ques2" type="radio" id="C2" />
                    <label for="C2">1 Week</label>
                  </div>

                  <div class="option">
                    <input data-ng-model="DevScores.ans2" data-ng-value="2" name="ques2" type="radio" id="D2" />
                    <label for="D2">4 Weeks</label>
                  </div>

                  <div class="option">
                    <input data-ng-model="DevScores.ans2" data-ng-value="1" name="ques2" type="radio" id="E2" />
                    <label for="E2">16 Weeks</label>
                  </div>
                  
                </div>
              </div>
            </div>  <!-- End Question 2-->


            <div class="col s12">  <!-- Start Question 3-->
              <div class="card-panel white">
                <h5 class="question">3. What is the ratio of the total amount of failure to the total amount of deployments per week?</h5>

                <div class="answers">
                  <div class="option">
                    <input data-ng-model="DevScores.ans3" data-ng-value="5" name="ques3" type="radio" id="A3" />
                    <label for="A3">0 Failures: 3 Deployments</label>
                  </div>

                  <div class="option">
                    <input data-ng-model="DevScores.ans3" data-ng-value="2" name="ques3"  type="radio" id="B3" />
                    <label for="B3">1 Failures: 5 Deployments</label>
                  </div>

                  <div class="option">
                    <input data-ng-model="DevScores.ans3" data-ng-value="1" name="ques3" type="radio" id="C3" />
                    <label for="C3">4 Failures: 2 Deployments </label>
                  </div>

                  <div class="option">
                    <input data-ng-model="DevScores.ans3" data-ng-value="3" name="ques3" type="radio" id="D3" />
                    <label for="D3">5 Failures: 10 Deployments</label>
                  </div>

                  <div class="option">
                    <input data-ng-model="DevScores.ans3" data-ng-value="4" name="ques3" type="radio" id="E3" />
                    <label for="E3">12 Failures: 14 Deployments </label>
                  </div>
                  
                </div>
              </div>
            </div>  <!-- End Question 3-->

            <div class="col s12">  <!-- Start Question 4-->
              <div class="card-panel white">
                <h5 class="question">4. Average time taken for the team to rebound from a failure(solve issues)?</h5>
                <div class="answers">
                  <div class="option">
                    <input data-ng-model="DevScores.ans4" data-ng-value="5" name="ques4" type="radio" id="A4" />
                    <label for="A4">2 hours</label>
                  </div>

                  <div class="option">
                    <input data-ng-model="DevScores.ans4" data-ng-value="4" name="ques4" type="radio" id="B4" />
                    <label for="B4">4 hours</label>
                  </div>

                  <div class="option">
                    <input data-ng-model="DevScores.ans4" data-ng-value="3" name="ques4" type="radio" id="C4" />
                    <label for="C4">10 hours</label>
                  </div>

                  <div class="option">
                    <input data-ng-model="DevScores.ans4" data-ng-value="2" name="ques4" type="radio" id="D4" />
                    <label for="D4">24 hours</label>
                  </div>

                  <div class="option">
                    <input data-ng-model="DevScores.ans4" data-ng-value="1" name="ques4" type="radio" id="E4" />
                    <label for="E4">48 hours</label>
                  </div>
                  
                </div>
              </div>
            </div>  <!-- End Question 4-->

            <div class="col s12">  <!-- Start Question 5 -->
              <div class="card-panel white">
                <h5 class="question">5. What is the size of your organization?</h5>
                <div class="answers">
                  <div class="option">
                    <input data-ng-model="DevScores.ans5" data-ng-value="4" name="ques5" type="radio" id="A5" />
                    <label for="A5">Large enterprise</label>
                  </div>

                  <div class="option">
                    <input data-ng-model="DevScores.ans5" data-ng-value="2" name="ques5" type="radio" id="B5" />
                    <label for="B5">Medium enterprise</label>
                  </div>

                  <div class="option">
                    <input data-ng-model="DevScores.ans5" data-ng-value="1" name="ques5" type="radio" id="C5" />
                    <label for="C5">Small enterprise</label>
                  </div>

                  
                </div>
              </div>
            </div>  <!-- End Question 5-->

            <div class="col s12">  <!-- Start Question 6-->
              <div class="card-panel white">
                <h5 class="question">6. How often do the members of your team meet when a project is about to be undertaken?</h5>
                <div class="answers">
                  <div class="option">
                    <input data-ng-model="DevScores.ans6" data-ng-value="5" name="ques6" type="radio" id="A6" />
                    <label for="A6">Everyday</label>
                  </div>

                  <div class="option">
                    <input data-ng-model="DevScores.ans6" data-ng-value="3" name="ques6" type="radio" id="B6" />
                    <label for="B6">Every 5 Days</label>
                  </div>

                  <div class="option">
                    <input data-ng-model="DevScores.ans6" data-ng-value="2" name="ques6" type="radio" id="C6" />
                    <label for="C6">Every 10 Days</label>
                  </div>

                  <div class="option">
                    <input data-ng-model="DevScores.ans6" data-ng-value="0" name="ques6" type="radio" id="D6" />
                    <label for="D6">Every 30 days</label>
                  </div>

                  
                </div>
              </div>
            </div>  <!-- End Question 6 -->

            <div class="col s12">  <!-- Start Question 7-->
              <div class="card-panel white">
                <h5 class="question">7. What is the preferred method of communication between team members?</h5>
                <div class="answers">
                  <div class="option">
                    <input data-ng-model="DevScores.ans7" data-ng-value="5" name="ques7" type="radio" id="A7" />
                    <label for="A7">Slack</label>
                  </div>

                  <div class="option">
                    <input data-ng-model="DevScores.ans7" data-ng-value="2" name="ques7" type="radio" id="B7" />
                    <label for="B7">Emails only</label>
                  </div>

                  <div class="option">
                    <input data-ng-model="DevScores.ans7" data-ng-value="1" name="ques7" type="radio" id="C7" />
                    <label for="C7">Phone calls</label>
                  </div>

                   <div class="option">
                    <input data-ng-model="DevScores.ans7" data-ng-value="5" name="ques7" type="radio" id="D7" />
                    <label for="D7">Google Hangouts</label>
                  </div>

                  <div class="option">
                    <input data-ng-model="DevScores.ans7" data-ng-value="3" name="ques7" type="radio" id="E7" />
                    <label for="E7">WhatsApp messages</label>
                  </div>
                  
                </div>
              </div>
            </div>  <!-- End Question 7-->
              
               <div class="col s12">  <!-- Start Question 8-->
              <div class="card-panel white">
                <h5 class="question">8. How are tasks divided among persons working on the project?</h5>
                <div class="answers">
                  <div class="option">
                    <input data-ng-model="DevScores.ans8" data-ng-value="0" name="ques8" type="radio" id="A8" />
                    <label for="A8">Everyone works together to get the task done,there is no specific team</label>
                  </div>

                  <div class="option">
                    <input data-ng-model="DevScores.ans8" data-ng-value="5" name="ques8" type="radio" id="B8" />
                    <label for="B8">A development team is created different from the regular operations work force</label>
                  </div>

                  <div class="option">
                    <input data-ng-model="DevScores.ans8" data-ng-value="4" name="ques8" type="radio" id="C8" />
                    <label for="C8">Persons are assigned to teams and each team is given a task</label>
                  </div>

                  <div class="option">
                    <input data-ng-model="DevScores.ans8" data-ng-value="3" name="ques8" type="radio" id="D8" />
                    <label for="D8">A project manager is hired to work with team that he selects </label>
                  </div>

                  <div class="option">
                    <input data-ng-model="DevScores.ans8" data-ng-value="1" name="ques8" type="radio" id="E8" />
                    <label for="E8">Each individual from separate departments chooses a tasks and works on it independently in their time away from daily operations</label>
                  </div>
                  
                </div>
              </div>
            </div>  <!-- End Question 8-->
               <div class="col s12">  <!-- Start Question 9-->
              <div class="card-panel white">
                <h5 class="question">9. What is the preferred size of development teams in your company?</h5>
                <div class="answers">
                  <div class="option">
                    <input data-ng-model="DevScores.ans9" data-ng-value="3" name="ques9" type="radio" id="A9" />
                    <label for="A9">1-3 Persons</label>
                  </div>

                  <div class="option">
                    <input data-ng-model="DevScores.ans9" data-ng-value="5" name="ques9" type="radio" id="B9" />
                    <label for="B9">4-6 Persons</label>
                  </div>

                  <div class="option">
                    <input data-ng-model="DevScores.ans9" data-ng-value="4" name="ques9" type="radio" id="C9" />
                    <label for="C9">7-9 Persons</label>
                  </div>

                  <div class="option">
                    <input data-ng-model="DevScores.ans9" data-ng-value="5" name="ques9" type="radio" id="D9" />
                    <label for="D9">10 and above</label>
                  </div>

                  
                </div>
              </div>
            </div>  <!-- End Question 9-->
              
               <div class="col s12">  <!-- Start Question 10-->
              <div class="card-panel white">
                <h5 class="question">10. How long does it take each team to come up with working prototypes?</h5>
                <div class="answers">
                  <div class="option">
                    <input data-ng-model="DevScores.ans10" data-ng-value="5" name="ques10" type="radio" id="A10" />
                    <label for="A10">Less than a day</label>
                  </div>

                  <div class="option">
                    <input data-ng-model="DevScores.ans10" data-ng-value="3" name="ques10" type="radio" id="B10" />
                    <label for="B10">One to three days</label>
                  </div>

                  <div class="option">
                    <input data-ng-model="DevScores.ans10" data-ng-value="2" name="ques10" type="radio" id="C10" />
                    <label for="C10">Four to six days</label>
                  </div>

                  <div class="option">
                    <input data-ng-model="DevScores.ans10" data-ng-value="0" name="ques10" type="radio" id="D10" />
                    <label for="D10">Over a week</label>
                  </div>
                  
                </div>
              </div>
            </div>  <!-- End Question 10-->
              
               <div class="col s12">  <!-- Start Question 11-->
              <div class="card-panel white">
                <h5 class="question">11. How often do you perform checks to find bugs in your software?</h5>
                <div class="answers">
                  <div class="option">
                    <input data-ng-model="DevScores.ans11" data-ng-value="5" name="ques11" type="radio" id="A11" />
                    <label for="A11">Everyday</label>
                  </div>

                  <div class="option">
                    <input data-ng-model="DevScores.ans11" data-ng-value="3" name="ques11" type="radio" id="B11" />
                    <label for="B11">Once per week</label>
                  </div>

                  <div class="option">
                    <input data-ng-model="DevScores.ans11" data-ng-value="2" name="ques11" type="radio" id="C11" />
                    <label for="C11">Once per month</label>
                  </div>

                  <div class="option">
                    <input data-ng-model="DevScores.ans11" data-ng-value="0" name="ques11" type="radio" id="D11" />
                    <label for="D11">Never</label>
                  </div>
                  
                </div>
              </div>
            </div>  <!-- End Question 11-->
              
               <div class="col s12">  <!-- Start Question 12-->
              <div class="card-panel white">
                <h5 class="question">12. Which of the following tools do you use for your deployment?</h5>
                <div class="answers">
                  <div class="option">
                    <input data-ng-model="DevScores.ans12" data-ng-value="5" name="ques12" type="radio" id="A12" />
                    <label for="A12">Docker</label>
                  </div>

                  <div class="option">
                    <input data-ng-model="DevScores.ans12" data-ng-value="4" name="ques12" type="radio" id="B12" />
                    <label for="B12">Maven</label>
                  </div>

                   <div class="option">
                    <input data-ng-model="DevScores.ans12" data-ng-value="5" name="ques12" type="radio" id="C12" />
                    <label for="C12">Jenkins</label>
                  </div>

                  <div class="option">
                    <input data-ng-model="DevScores.ans12" data-ng-value="5" name="ques12" type="radio" id="D12" />
                    <label for="D12">GitHub & Git</label>
                  </div>

                  <div class="option">
                    <input data-ng-model="DevScores.ans12" data-ng-value="3" name="ques12" type="radio" id="E12" />
                    <label for="E12">Apache Ant</label>
                  </div>
                  
                </div>
              </div>
            </div>  <!-- End Question 12-->
              
               <div class="col s12">  <!-- Start Question 13-->
              <div class="card-panel white">
                <h5 class="question">13. What is the level of automation of tasks in your development of a software solution?</h5>
                <div class="answers">
                  <div class="option">
                    <input data-ng-model="DevScores.ans13" data-ng-value="5" name="ques13" type="radio" id="A13" />
                    <label for="A13">High</label>
                  </div>

                  <div class="option">
                    <input data-ng-model="DevScores.ans13" data-ng-value="3" name="ques13" type="radio" id="B13" />
                    <label for="B13">Medium</label>
                  </div>

                  <div class="option">
                    <input data-ng-model="DevScores.ans13" data-ng-value="1" name="ques13" type="radio" id="C13" />
                    <label for="C13">Low</label>
                  </div>

                  <div class="option">
                    <input data-ng-model="DevScores.ans13" data-ng-value="0" name="ques13" type="radio" id="D13" />
                    <label for="D13">Very low</label>
                  </div
                  
                </div>
              </div>
            </div>  <!-- End Question 13-->  
            <a class="waves-effect waves-light btn-large" ng-click="submit()"><i class="material-icons left">cloud</i>Submit</a>
          </div> 
        </form>
      </section>
</div>